#ambassador-text-container {
  align-self: flex-end;
  margin-right: 10vw;
   
  h2 {
    font-size: 4em;
  }
}

#ambassador-image {
  width: auto;
  height: 120vh;
  position: absolute;
  left: 0;
  bottom: -20vh;
}

@media all and (max-width: 1000px) {
  #ambassador-text-container {
    h2 {
      font-size: 1.8em;
    }

    p {
      font-size: 1.2em;
      line-height: 1.2;
      font-weight: 400;
    }
  }

  #ambassador-image {
    opacity: 0.4;
    width: auto;
    height: 120vh;
    position: absolute;
    right: -50px;
    bottom: -20vh;
    left: auto;
  }
}