#ambassador-text-container {
  align-self: flex-end;
  margin-right: 10vw;
   
  h2 {
    font-size: 4em;
  }
}

@media all and (max-width: 1000px) {
  #ambassador-text-container {
    h2 {
      font-size: 1.8em;
    }

    p {
      font-size: 1.2em;
      line-height: 1.2;
      font-weight: 400;
    }
  }
}