#contact-text-container {
  height: 80vh;
	width: 100%;
  text-align: center;
  margin-bottom: 0;
  background: #000;
	h3{
		font-family: 'TekoLight', 'sans-serif';
		font-size: 48px;
		width: 100%;
    // margin-top: 10px;
    letter-spacing: 15px;
	}
	h4{
		font-family: 'TekoLight';
		width: 100%;
		font-size: 32px;
	}

	@media (max-width: 480px) {
		h3 {
			margin-top: 100px;
		}
	}
}

#contact-image-container {
  height: 90vh;
  background: #000;
}

#contact-container {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
	font-family: 'Overpass', 'sans-serif';
	width: 100vw;
	// overflow-y: auto;
	margin-top: 20px;
	margin-bottom: 20px;

	.person-container{
		width: 20%;	
		padding: 15px 0;
	}

	img {
		border-radius: 100%;
		width: 100px;
		height: 100px;
	}

	@media (max-width: 1050px) {
		.person-container {
			width: 32%;	
		}
	}

	@media (max-width: 750px) {
		.person-container {
			width: 50%;	
		}
	}

	@media (max-width: 480px) {
		.person-container {
			width: 100%;	
		}
	}
}

@media (min-width: 1000px) {
	#contact-text-container {
		overflow-y: auto;
	}
}

@media (max-width: 1000px) {
	#contact-text-container {
		padding-bottom: 100px;
		margin-bottom: 0;
		
		h3 {
			margin-top: 10px;
		}
		h4 {
			display: none;
		}
	}
}

@media (max-width: 600px) {
	#contact-text-container {
		h3 {
			font-size: 2.3em;
			margin-left: 5px;
		}
		.person-container {
			width: 70%;
			margin-left: 18%;
		}
	}
}