#events-image-container {
  align-self: center;

  img {
    opacity: 0.4;
  }
}

#events-text-container {
  width: 100%;
  text-align: center;
}

.carousel-elem {
  transition: transform 0.2s linear;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 270px;
  padding-top: 60px;
}

.event-img {
  height: 150px;
  width: 200px;
  background: url('../../imgs/about-main.png');
  background-size: cover;
  margin-bottom: 5px;
}

.event-name {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Overpass', sans-serif;
  font-size: 20px;
  padding-bottom: 25px;
  max-width: 90%;
}

.is-selected {
  transform: scale(1.2);
}

@media all and (max-width: 1000px) {
  .carousel-elem {
    width: 100vw;
  }

  #events-text-container h2 {
    font-size: 2em;
  }

  .event-name {
    font-size: 25px;
  }
}