#events-image-container {
  align-self: center;
}

#events-text-container {
  width: 100%;
  text-align: center;
}

.carousel-elem {
  transition: transform 0.2s linear;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.event-img {
  height: 170px;
  width: 255px;
  background: url('../../imgs/about-main.png');
  background-size: cover;
  margin-bottom: 15px;
}

.event-name {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Overpass', sans-serif;
  font-size: 30px;
  padding-bottom: 25px;
  max-width: 90%;
}

.is-selected {
  transform: scale(1.3);
}

@media all and (max-width: 1000px) {
  .carousel-elem {
    width: 100vw;
  }

  #events-text-container h2 {
    font-size: 1.8em;
  }

  .event-name {
    font-size: 25px;
  }
}