#events-image-container {
  align-self: center;

  img {
    opacity: 0.4;
  }
}

#events-image {
  margin-top: -50px;
  width: 90vw;
  opacity: 0.9;
}

#events-text-container {
  width: 100%;
  text-align: center;
}

.carousel-elem-events {
  transition: transform 0.2s linear;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 370px;
  padding-top: 60px;
}

.carousel-elem-events.is-selected {
  transform: scale(1.2);
}

.event-img {
  height: 250px;
  width: 250px;
  border-radius: 100%;
  // background: url('../../imgs/about-main.png');
  background-size: cover;
  margin-bottom: 5px;
}

.event-name {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Overpass', sans-serif;
  font-size: 20px;
  padding-bottom: 50px;
  max-width: 90%;
}


@media all and (max-width: 1000px) {
  .carousel-elem {
    width: 100vw;
  }

  #events-text-container {
    margin-top: -60px;
  }

  #events-text-container h2 {
    font-size: 2em;
  }

  .event-name {
    font-size: 25px;
  }

  #events-image {
    top: 30vh;
    width: 550px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.7;
  }
}