#landing-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#landing-image {
    height: 100vh;
    opacity: 0.6;
    margin-top: -50px;
    margin-left: -20px;
}

#landing-text-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
        font-family: 'TekoLight';
        font-weight: 300;
        letter-spacing: 30px;
        font-size: 100px;
        padding: 0 10px;
        text-align: center;
        text-shadow: 0 0 4px #fff;
    }
}

@media (max-width: 1000px) {
    #landing-image-container {
        height: 100vh;
    }

    #landing-image-container {
        padding: 0;
    }

    #landing-text-container {
        h2 {
            letter-spacing: 11px;
            font-size: 45px;
            padding: 0 10px;
        }
    }

    #landing-image {
        height: auto;
        width: 100vw;
        margin: 0;
        margin-top: -30px;
    }
}