// #paperproject {
// 	// background-image: radial-gradient(#FFF246, #EEDA5C);
// 	width: 100vw;
// 	#paperproject-content {
// 		display: flex;
// 	}

// 	#paperproject-image-container{
// 		width: 70vw;	

// 		img{ 
// 			width: 70vw;	
// 		}
// 	}
// 	#paperproject-text-container{
// 		color: #172148;	
// 		display: flex;
// 		justify-content: center;
// 		flex-direction: column;
// 		padding-left: 50px;
// 		h2 {
// 			font-size: 3em;
//       margin-bottom: 40px;
//       font-family: 'futurist', sans-serif;
// 		}
// 		p {
// 			line-height: 1.7;
//       font-family: 'Overpass', sans-serif;
//       font-weight: 300;
//       font-size: 1.3em;
// 		}
// 	}
// }

#paperproject-image-container {
  align-self: flex-end;

  img {
    height: 120vh;
  }
}

	#paperproject-text-container{
    color: #172148;
    margin-left: 5vw;
    height: 100vh;

    h2 {
			font-size: 1.3em;
      margin-bottom: 40px;
      font-family: 'futurist', sans-serif;
		}

    p {
			line-height: 1.1;
      font-family: 'Overpass', sans-serif;
      font-weight: 400;
      font-size: 1.2em;
		}
	}
