#pastsponsors-text-container {
	width: 100%;
	text-align: center;
	h3 {
		font-size: 2.5em;
		width: 100%;
		font-family: 'BoldFont', 'sans-serif';
		margin-bottom: 20px;
		margin-top: 20px;
	}
	@media (max-width: 480px) {
		h3 {
			margin-top: 100px;
		}
	}
}

#sponsors-image {
margin-top: -50px;
width: 90vw;
opacity: 0.9;
}

.sponsor-image {
height: 250px;
width: 250px;
// background: url('../../imgs/about-main.png');
margin-bottom: 5px;
background-size: contain;
background-repeat: no-repeat;
background-position: 50%;
}
.sponsor-info {
text-align: center;
text-transform: uppercase;
font-family: 'Overpass', sans-serif;
font-size: 20px;
padding-bottom: 50px;
max-width: 90%;
}

#pastsponsor-container{
	.sponsor-container{
		width: 25%;	
		padding: 0 35px;
    margin: 10px 0;
  }
  
  .carousel-elem-pastsponsors {
    transition: transform 0.2s linear;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 330px;
	padding: 60px 0;
	font-family: 'Overpass', sans-serif;;
  }

  .carousel-elem-pastsponsors.is-selected {
	transform: scale(1.2);
  }
}

@media (max-width: 600px) {
	#pastsponsors-text-container {
		h2 {
			font-size: 2em;
		}
	}
	#pastsponsor-container {
		margin-bottom: 10vh;
	}
	.sponsor-image {
		height: 200px;
		width: 200px;
	}
}