.register-button {
    padding: 10px 15px;
    border: 2px solid #fff;
    text-transform: uppercase;
    width: 300px;
    cursor: pointer;
    margin-right: 20px;
    font-family: 'Overpass';
    font-size: 20px;
    color: #fff;
    background: none;
    transition: all 0.1s ease-in-out;
    text-align: center;
    margin-bottom: 5px;
}
.register-button a {
    text-decoration: none;
    color: #fff;
}
.register-button:hover > a {
    color: #F1356B;
}

.register-button:hover {
    background: #fff;
    color: #F1356B;
}

.register-button a:hover {
    color: #F1356B;
}

#register-cross-svg {
    position: fixed;
    top: 30px;
    right: 35px;
    cursor: pointer;
    width: 22px;
    z-index: 99999;
    display: none;
}

#register {
    // display: none;
    background: #14181F;
    height: 100vh;
    width: 100vw;
    z-index: 999;
    position: fixed;
    top: 100%;
    left: 0;
    color: #fff;
    transition: opacity 0.3s ease-in-out, top 0.5s cubic-bezier(.55,.01,.17,1);

    #register-content {
        height: 100vh;
        overflow-y: auto;
        padding: 120px 10vw 0 10vw;
    }

    h2 {
        font-size: 3em;
        font-family: 'Futurist';
        color: #57F6B1;
    }
    #register-form {
        display: flex;
        flex-direction: column;
        font-family: 'Overpass';
        padding-left: 10px;
        margin-top: 15px;

        #register-form-content {
            display: flex;
            flex-direction: column;
        }
        
        #register-form-complete {
            flex-direction: column;
            display: none;
        }

        label {
            font-size: 20px;
            color: #729BE1;
        }

        input, select {
            background: none;
            outline: none;
            border: none;
            border-bottom: 1.5px solid #ffffff80;
            font-size: 18px;
            padding: 5px 0;
            color: #fff;
            margin-bottom: 15px;
            transition: all 0.1s ease-in-out;
        }

        select option {
            color: initial !important;
        }

        input:active, input:focus {
            background: #00000010;
        }

        #register-buttons {
            margin-top: 20px;
        }

        .register-button {
            padding: 10px 15px;
            border: 2px solid #436AFF;
            text-transform: uppercase;
            width: 200px;
            cursor: pointer;
            margin-right: 20px;
            font-family: 'Overpass';
            font-size: 20px;
            color: #57F6B1;
            background: none;
            transition: all 0.1s ease-in-out;
            text-align: center;
        }
        .register-button:hover {
            background: #436AFF;
            color: #fff;
        }

        .reg-message {
          font-size: 15px;
          color: #fff;
        }

        #error {
            color: red;
        }

        #gender-div {
            display: flex;
            flex-direction: row;

            div {
                margin-right: 30px;
                
                input {
                    margin-right: 5px;
                }
            }
            div:last-child {
                margin-right: 0;
            }
        }
    }
}

@media all and (max-width: 1000px) {
    #register-cross-svg {
        top: 25px;
        right: 20px;
    }
    #register {
        #register-content {
            padding: 100px 10vw 0 10vw;
        }
        h2 {
            font-size: 1.3em;
            margin-bottom: 10px;
        }
        #register-form {
            #register-buttons {
                justify-content: space-between;
                padding-bottom: 80px;
            }
            .register-button {
                padding: 3px 5px;
                border: 2px solid #fff;
                text-transform: uppercase;
                width: 100px;
                cursor: pointer;
                margin-right: 10px;
                font-family: 'Overpass';
                font-size: 18px;
                color: #fff;
                background: none;
                transition: all 0.1s ease-in-out;
                text-align: center;
            }
        }
    }
}