#teaser-image-container {
  align-self: flex-end;
}

#teaser-image {
  width: auto;
  height: 140vh;
  position: absolute;
	right: -100px;
	top: 0;
}

#teaser-text-container{
  margin-left: 25px;
  margin-top: 50px;

  h2 {
    text-align: center;
    color: rgb(23, 33, 72);
  }

	#teaser-preview{
		height: 40vh;	
	}
	#teaser-preview-image {
		height: 100%;
		display: flex;
		justify-content: center;
    align-items: center;
    background: url('../../images/teaser-preview.png');
    background-size: 100% auto;
    background-position: center;

    img {
      height: 30%;
      transition: transform 0.1s linear;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }

}

@media all and (max-width: 1000px) {
  #teaser-image-container {
    align-self: center;
  }
  #teaser-text-container {
    margin-top: 0;
  }
	#teaser-image {
		width: auto;
		opacity: 0.4;
		height: 140vh;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		top: 0;
  }
  
  #teaser-preview {
    width: 500px;
    align-self: center;
  }
}

@media all and (max-width: 600px) {
  #teaser-preview{
    height: 200px !important;
    width: 90vw;
  }
}
