*{
    margin: 0;
    padding: 0;
	outline: 0;
	border: 0;
	box-sizing: border-box;
    //background: #000;
}

html, body {
	height: 100%;
	width: 100vw;
}

body {
	overflow-x: hidden;
}

#container {
    // transition: all ease-in-out 0.2s;
    // min-height: 100vh;
}

#main-content-container, #main-image-container, #main-text-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
}

#main-image-container, #main-text-container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

#main-image-container {
    background-color: #010417;
    transition: background-color ease-in-out 0.2s;
    z-index: 2;
}

#main-text-container {
  z-index: 4;
}

#nav-content {
  font-family: 'Overpass', sans-serif;
  font-weight: 700;
}

.particles-js {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.text-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45vw;
  color: white;
  height: 100vh;
  margin-bottom: 20vh;
  word-break: break-word;

  h2 {
    font-size: 4em !important;
    margin-bottom: 40px;
    font-family: 'BoldFont', sans-serif;
  }
  p {
    line-height: 1.7;
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
  }
}

.image-container {
  padding-bottom: 15vh;
  // min-height: 100vh;
  // max-height: 120vh;
  height: 120vh;
  position: relative;
  z-index: 2;

  img {
    height: 120vh;
  }
}

#menu {
  position: fixed;
  padding: 40px 20px;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  z-index: 9999;
  user-select: none;
  display: none;
  opacity: 0;
  transition: all 0.1s ease-in-out;
  font-family: 'futurist', sans-serif;
  background: rgb(1, 4, 23);
  color: #fff;
  overflow-y: auto;
  font-weight: bold;

  span {
    cursor: pointer;
    margin: 15px 0;
    font-size: 1.7em;
    text-align: center;

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  span::after {
    content: '.';
    display: block;
  }

  span:last-child::after {
    content: ''
  }

  #menu-cross {
    position: absolute;
    top: 30px;
    right: 35px;
    cursor: pointer;
    width: 22px;
  }
}

#particles-js {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
  transition: all 0.2s ease-in-out;
}

#apogee-logo {
  height: 40px;
  width: 200px;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  color: #fff;
  padding: 20px 35px 20px 25px;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  box-sizing: border-box;
  z-index: 999;
  user-select: none;
  background-repeat: repeat;

  #nav-logo {
    width: 200px;
  }

  #nav-content {
      display: flex;
      align-items: center;
      transition: opacity 0.3s ease-in-out;

      span {
          margin-right: 40px;
          font-size: 1.25em;
          cursor: pointer;
      }
      #hamburger {
          height: 20px;
          width: 24.5px;
          cursor: pointer;
      }
  }
}

#contact-image-container {
  background: #000313;
}
