*{
    margin: 0;
    padding: 0;
	outline: 0;
	border: 0;
	box-sizing: border-box;
    //background: #000;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	overflow-x: hidden;
}

#container {
    background-color: #0A81D1;
    transition: background-color ease-in-out 0.2s;
}