*{
    margin: 0;
    padding: 0;
	outline: 0;
	border: 0;
	box-sizing: border-box;
    //background: #000;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	overflow-x: hidden;
}

#container {
    background-image: radial-gradient(#0A81D1, #050C33);
    transition: background-image ease-in-out 0.3s;
}