.desktop-only {
  display: block;
}

.mobile-only {
  display: none;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    color: #fff;
    padding: 20px 25px;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    box-sizing: border-box;
    z-index: 99;
    user-select: none;

    #nav-logo {
        #apogee-logo {
            // max-height: 40px;
        }
    }

    #nav-content {
        display: flex;
        align-items: center;

        span {
            margin-right: 40px;
            font-size: 1.25em;
            cursor: pointer;
        }
        #hamburger {
            height: 20px;
            width: 24.5px;
            cursor: pointer;
        }
    }
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    color: #fff;
    padding: 20px 25px;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    box-sizing: border-box;
    font-size: 1.2em;
    z-index: 99;
    font-family: 'Overpass', sans-serif;
    font-weight: 700;

    #scroll-icon {
        max-height: 30px;
    }
    #social-icons {
        a {
            margin-right: 20px;
            text-decoration: none;
            cursor: pointer;

            img {
                max-height: 25px;
            }
        }
        a:last-child {
            margin-right: 0;
        }
    }
}