@font-face {
  font-family: 'futurist';
  src: url('../static/fonts/FUTRFW.TTF');
}

@font-face {
  font-family: 'Overpass';
  src: url('../static/fonts/Overpass-Regular.ttf');
}

@font-face {
  font-family: 'Overpass';
  src: url('../static/fonts/Overpass-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Overpass';
  src: url('../static/fonts/Overpass-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'TekoLight';
  src: url('../static/fonts/teko-light.otf');
}

@font-face {
  font-family: 'BoldFont';
  src: url('../static/fonts/theboldfont.ttf');
}
