@media all and (max-width: 1300px) {
  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: block;
  }

  #navbar {
    #nav-content {
      span {
        margin-right: 20px;
      }
    }
  }

  #footer {
    justify-content: center;
  }

  // #about-image {
  //   opacity: 0.42;
  // }

  // #about {
  //   display: block;
  //   position: relative;

  //   #about-text-container {
  //     position: absolute;
  //     width: 90vw;
  //     padding-top: 0;
  //     margin: 23vh 0 0 5vw;

  //     h2 {
  //       font-size: 3em;
  //       margin-bottom: 25px;
  //     }

  //     p {
  //       font-size: 1.1em;
  //       line-height: 1.5;
  //       font-weight: 400;
  //     }
  //   }
  // }

  .image-container {
    opacity: 0.42;
  }

  .text-container {
    align-self: center !important;
    width: 85vw;
    margin-right: 0 !important;
    margin-left: 0 !important;
    // margin-bottom: 15vh;
  }
}